/* styles.css */
.noto-sans-arabic-custom {
    font-family: "Noto Sans Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* يمكنك اختيار وزن بين 100 و 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100; /* عرض الخط */
}
